<section class="vh-100" style="background-color: #4DA9C0;">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="container py-4 h-70">
      <div class="row d-flex justify-content-center align-items-center h-70">
        <div class="col-12 col-md-9 col-lg-8 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 6rem;">
            <div class="card-body p-5 text-center">
             <h3 class="mb-5">Sign in</h3>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label"> Email</label>
                <div class="col-sm-12">
                  <%= f.text_field :email,:required => true, class: "form-control", placeholder:"Enter Name", style:"border-radius: 5rem;" %>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Password</label>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <div class="col-sm-12">
                  <%= f.password_field :password,:required => true, class: "form-control", placeholder:"Enter Password", style:"border-radius: 5rem;"%>
                </div>
              </div>
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="form1Example3"
                />
                <label class="form-check-label" for="form1Example3"> Remember password 
                </div>
                </label>
                <div>
               
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit", style="border-radius: 5rem;">Login</button>

              <hr class="my-4">

               <%#= f.submit "Sign up", class:"btn btn-lg btn-block btn-primary", style:"border-radius: 5rem;"%>
               <%= render "devise/shared/links" %>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>