<center><h2><button type="button" class="btn btn-outline-primary"><%= link_to "new user", new_user_path %></button></center>
<div class="container">
	<table class="table">
    <thead>
      <tr>
      	<th>Id</th>
        <th>User Name</th>
        <th>Role</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Actions</th> 
      </tr>
    </thead>
    <tbody>
    	<% @users.each do |user|%>
      <tr>
      	<td><%= user.id %></td>
        <td><%= link_to user.name ,user_path(user) %></td>
        <td><%= user.role %></td>
        <td><%= user.mobile %></td>
        <td><%= user.email %></td>
        <td><%= link_to "edit", edit_user_path(user), class:"btn btn-outline-dark" %>
            <%= link_to "delete", user_path(user), method: :delete, class: "btn btn-outline-danger" %>
        </td>
        <!-- <td><%# if user.owner? %>
          <%#= link_to "add new delar", new_user_path %>
        <%# else %>
          <%#= link_to "show product detail", products_path %>
          <%# end %>
        <td><%# if user.owner? %>
          <%#= link_to "add new product", new_product_path(user: user.id) %>
          <%# else %>
          <%#= link_to "my products", products_path %>
          <%#end %>
        </td> -->

      <% end %></td>
    </tr>      
  </tbody>
  </table>
</div>