
<div class="container">
	<table class="table">
    <thead>
      <tr>
      	<th>Product Id</th>
        <th>Product Name</th>
        <th>Product Type</th>
        <th>Product Price</th>
        <th>Actions</th>
        
      </tr>
    </thead>
    <tbody>
    	<% @products.each do |product|%>
      <tr>
      	<td><%= product.id %></td>
        <td><%= product.product_name %></td>
        <td><%= product.product_type %></td>
        <td><%= product.product_price %></td>
        <td><%= link_to "show", product_path(product) %></td>
        <td><h3><%#= link_to "+", new_product_path(:user) %></h3></td>
        <td><h2><%#= link_to "-", product_path(product), method: :delete %></h2></td>
      <% end %></td>
    </tr>      
  </tbody>
  </table>
</div>

<center><h2><%= link_to "back", users_path, class:"btn btn-outline-info" %>
<%= link_to "Add new product", new_product_path(:user), class:"btn btn-outline-success" %></h2></center>